		* { margin:0;
    padding:0;
}
html { background:#444; }
body {
    margin:50px auto;
    width:960px;
    height:590px;
    background-image:url(../images/back.jpg) ; #no-repeat
    overflow:hidden;
}
div#menu {
    left:40px;
    width:600px;
}

div#contenido {
	padding-top:40px;
	padding-left:20px;
	height:570px;	
}

div#ingreso {
	padding-left:900px;
}

div#ingreso a {
	color: #FFFFFF;;
}

div#copyright { margin-left: 100px }