* { margin:0;
    padding:0;
	}
html { background:#444; }
body {
    margin:20px auto;
    width:960px;
    height:640px;
    background-image:url(../images/back.jpg) ; #no-repeat
    overflow:hidden;
}
div#menu {
    left:40px;
    width:800px;
}

div#contenido {
	padding-top:10px;
	padding-left:40px;
	height:550px;	
	color:#FFFFFF;
	font:12px/18px 'Trebuchet MS', Arial, Helvetica, Sans-serif;
	text-align:justify;
}

div#texto {
	padding-top:10px;
	padding-left:60px;
	padding-right:100px;
	height:550px;	
	color:#FFFFFF;
	font:12px/18px 'Trebuchet MS', Arial, Helvetica, Sans-serif;
	text-align:justify;
	
}

div#texto a{
	font:12px/18px 'Trebuchet MS', Arial, Helvetica, Sans-serif;
	text-align:justify;
	color:#59E817;
}


div#ingreso {
	padding-left:850px;
	color: #FFFFFF;
}

div#log {
	padding-left:850px;
	color: #FFFFFF;
	left:40px;
    width:800px;
}

div#log a {	color: #FFFFFF}
div#ingreso a {	color: #FFFFFF}

div#copyright { 
	color:#FFFFFF
}
div#copyright a {	color:#FFFFFF}
div#copyright h6 { color:#FFFFFF}
